.button {
	  	border: none;
	  	padding: 14px 28px;
	  	font-size: 16px;
	  	cursor: pointer;
	  	background-color: white;
		color: dodgerblue;
		box-shadow: 2px 2px dodgerblue;
		border: 1px dotted dodgerblue;
}
.button:hover{
		background-color: grey;
		color: black;
		font-weight: bolder;
}

