/* Style inputs */
.contact input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.contact input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.contact > .container {
  border-radius: 5px;
  background-color: ;
  padding: 10px;
  color: black;
  border: 2px solid teal;

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .contact input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.about {
  background-color: ;
  border: 2px solid teal;
  color: black;
  border-radius: 5px;
}

#more-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  box-shadow: 1px 2px black;
  border: 1px dotted black;
  color: grey;
}